* {
    margin: 0;
    padding: 0;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.top {
    height: 1024px;
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.title {
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    padding-top: 218px;
    margin-bottom: 32px;
    color: #FFFFFF;
    max-width: 780px;
}

.top_text {
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
    margin-bottom: 44px;
    max-width: 480px;
}

.for-box {
    background-color: black;
    padding-top: 128px;
    padding-bottom: 128px;
}

.for {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(12, 1fr);
}

.for_item {
    height: 300px;
    width: 379px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: white;
    row-gap: 32px;
    display: flex;
    
  
    justify-content: left;
    align-items: last baseline;

}

.name1-2-3 {
    font-size: 24px;
    line-height: 32px;
    color: white;
    margin: 32px;
        
}


.for_item1 {
    background-image: url(img/for1.jpg);
}

.for_item2 {
    background-image: url(img/for2.jpg);
}

.for_item3 {
    background-image: url(img/for3.jpg);
}

.button {
    box-sizing: border-box;
    width: 234px;
    height: 48px;
    font-weight: 400;
    background: #9C0332;
    border-radius: 30px;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
}